:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  margin: 0 auto;
  width: 900px;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Custom CSS Code */

.container-grid {
  display: grid;
  grid-template-columns: 1fr; /* Three columns */
  gap: 20px; /*It creates gap between row and column*/
}

.container-grid.cols-two {
  grid-template-columns: 1fr 1fr; /* Three columns */
}

.container-grid.cols-three {
  grid-template-columns: 1fr 1fr 1fr; /* Three columns */
}

.container-grid.cols-four {
  grid-template-columns: 1fr 1fr 1fr 1fr; /* Three columns */
}

.item {
  background: lightgoldenrodyellow;
  color: black;
  padding: 20px;
}

.first-child-two-rows {
  clear: both;
}

.first-child-two-rows .item:first-child {
  background-color: tomato;
  display: grid;
  grid-row: span 2;
  align-content: center; /*This will going to put the content middle of the grid*/
}

/* Common */

.pl-24 {
  padding-left: 24px !important;
}

/* Grid */

.main-container {
  margin-top: 32px !important;
}
/* Admin Navigation menu */

.admin-nav-container {
  background-color: lightblue;
  padding: 12px !important;
  min-height: 500px;
}

.admin-nav-menu {
  clear: both;
}

.admin-nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  padding: 0;
  margin: 0;
}

.admin-nav-menu ul li {
  background: gray;
}

.admin-nav-menu ul li a {
  color: #f9f9f9;
  padding: 12px 12px;
  display: block;
}

.admin-nav-menu ul li a:hover {
  color: #1a1a1a;
  background: lightslategray;
}

/* Login page */

.login {
  display: flex;
  padding: 24px;
  background-color: lightgray;
  gap: 0 12px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.login label {
  margin-right: 12px;
}

.login input[type='text'],
.login input[type='password'] {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid lightgoldenrodyellow;
}
.login input[type='text'] {
}

.login input[type='password'] {
}
